/*
 	========================================
	 CSS RESET
	 	http://meyerweb.com/eric/tools/css/reset/ 
  		 v2.0 | 20110126
   		License: none (public domain)
	========================================
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  
    ======================================================
    Colors
    ======================================================
*/
:root{
    --head-color: #ffffff; 
    --highlight-color: #73001A;
    --font-color: #000000;       
    --box-color: #272726;
    --bg-color: #7D9072;
}


/*
    ======================================================
    Global Style
    ======================================================
*/

/*Border box fit*/
html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: VAR(--head-color);
    color: var(--font-color);
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    line-height: 1.5;
}


/*
    ======================================================
    HEADER
    ======================================================
*/

#header{
    display: flex;
    color: var(--highlight-color);
    margin: 20px auto 20px auto;
}

#nav-bar ul{
    display: flex;
}

#nav-bar li{
    margin-left: 20px;
}

#nav-bar a{
    text-decoration: none;
    color: var(--highlight-color);
}


#header-img{
    width: 300px;
}


/*
    ======================================================
    HOME
    ======================================================
*/

#home{
    background-color: var(--bg-color);
    padding: 30px;
}


.home-titles{
    display: flex;
    margin: 0 auto 50px auto; 
}

#home h1{
    font-family: 'Oswald', sans-serif;
    font-size: 6rem;
    line-height: 1;
}

#home h2{
    font-size: 3rem;
    margin-left: 50px;
    line-height: 1;
}


iframe{
    display: block;
    margin: 50px auto;
}


/*
    ======================================================
    Living Room
    ======================================================
*/

#living-room{
    display: flex;
    padding: 30px 10px;
}

#living-room img{
    width: 30%;
}

/*
    ======================================================
    Bedroom
    ======================================================
*/

#bedroom{
    display: flex;
    padding: 30px 10px;
}

#bedroom img{
    width: 30%;
}

/*
    ======================================================
    Kitchen & Dinning
    ======================================================
*/

#kitchen-dinning{
    display: flex;
}

#kitchen-dinning img{
    width: 30%;
}