/*
 	========================================
	 CSS RESET
	 	http://meyerweb.com/eric/tools/css/reset/ 
  		 v2.0 | 20110126
   		License: none (public domain)
	========================================
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  
    ======================================================
    Colors
    ======================================================
*/
:root{
    --head-color: #ffffff; 
    --highlight-color: #73001A;
    --font-color: #000000;       
    --box-color: #272726;
    --bg-color: #7D9072;
}


/*
    ======================================================
    Global Style
    ======================================================
*/

/*Border box fit*/
html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: VAR(--head-color);
    color: var(--font-color);
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    line-height: 1.5;
}


/*
    ======================================================
    HEADER
    ======================================================
*/

#header{
    display: grid;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    background-color: var(--head-color);
    color: var(--highlight-color);
    padding-top: 20px;
    grid-template-columns: 1.5fr 3fr 0.5fr 0.5fr;
    grid-template-rows: 50px 50px;
    grid-template-areas:
      "logo search shop login"
      "logo nav shop login";
}


#header-logo{
    grid-area: logo;
    justify-self: right;
    align-self: center;
}

#header-img{
    width: 300px;
}

#nav-bar{
    grid-area: nav;
    justify-self: center;
    align-self: center;
}

#nav-bar ul{
    display: flex;
}

#nav-bar li{
    margin-left: 30px;
}

#nav-bar a{
    text-decoration: none;
    color: var(--highlight-color);
}

#nav-bar a:hover{
    color: var(--bg-color);
}

#search-form{
    justify-self: center;
    align-self: center;
}

#search{
    height: 30px;
    width: 20rem;
    border: 1px solid var(--highlight-color);
    color: var(--highlight-color);  
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    padding-left: 40px;
}

#search-btn{
    width: 25px;
    height: 25px;
    font-size: 22px;
    color: var(--highlight-color);
    background-color: var(--head-color);
    padding-top: 3px;
    margin-right: -35px;
}

#search-btn:active{
    font-size: 25px;
    width: 32px;
    height: 32px;
}   

#header-shop-cart{
    grid-area: shop;
    justify-self: center;
    align-self: center;
}

#login{
    grid-area: login;
    justify-self: left;
    align-self: center;
}

.iconbtn{
    width: 60px;
    height: 60px;
    color: var(--highlight-color);
    text-decoration: none;
    position: relative;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}

.iconbtn:hover{
    color: var(--bg-color);
}

.iconbtn:active{
    color: var(--bg-color);
    font-size: 42px;
}

/*
    ======================================================
    HOME
    ======================================================
*/

#main{
    margin-top: 120px;
}

#home{
    background-color: var(--bg-color);
    padding: 30px;
}


.home-titles{
    display: flex;
    margin: 0 auto 30px auto; 
    align-items: center;
}

#home h1{
    font-family: 'Oswald', sans-serif;
    font-size: 6rem;
    line-height: 1;
    width: 50%;
    text-align: center;
}

#home h2{
    font-size: 3rem;
    line-height: 1;
    width: 50%;
    text-align: center;
}


#video{
    display: block;
    margin: 0px auto;
}



/*
    ======================================================
    Inspiration
    ======================================================
*/

#inspiration-content{
    display: flex;
    padding: 30px 0;
}

#inspiration-content img{
    width: 3%;
    padding: 0 1.6%;
}

/*
    ======================================================
    Clearance Deals
    ======================================================
*/

#clearance-deals-content{
    display: flex;
    padding: 30px 0;
}

#clearance-deals-content img{
    width: 20%;
    padding: 0 1.6%;
}