/*
 	========================================
	 CSS RESET
	 	http://meyerweb.com/eric/tools/css/reset/ 
  		 v2.0 | 20110126
   		License: none (public domain)
	========================================
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  
    ======================================================
    Colors
    ======================================================
*/
:root{
    --head-color: #ffffff; 
    --highlight-color: #73001A;
    --font-color: #000000;       
    --box-color: #272726;
    --bg-color: #7D9072;
}


/*
    ======================================================
    Global Style
    ======================================================
*/

/*Border box fit*/
html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: VAR(--head-color);
    color: var(--font-color);
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    line-height: 1.5;
}


/*
    ======================================================
    HEADER
    ======================================================
*/

#header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    background-color: var(--head-color);
    color: var(--highlight-color);
    padding: 20px 0 10px 0;
    z-index: 999;
}

/*First Flex Container */
.logo-container{
    width: 25%;
}

#header-logo{
    display: inline-block;
    width: 100%;
}

#header-img{
    display: block;
    width: 300px;
    margin: 0 auto;

}


/*Second Flex Container */
.search-nav-container{
    width: 50%;
}


#nav-bar ul{
    display: flex;
    width: 100%;
    justify-content: center;
}

#nav-bar li{
    margin-left: 30px;
}

#nav-bar a{
    text-decoration: none;
    color: var(--highlight-color);
}

#nav-bar a:hover{
    color: var(--bg-color);
}

#search-form{
    width:max-content;
    margin: 0 auto
}

#search{
    height: 30px;
    width: 250px;
    border: 1px solid var(--highlight-color);
    color: var(--highlight-color);  
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 40px;
}

#search-btn{
    width: 25px;
    height: 25px;
    font-size: 22px;
    color: var(--highlight-color);
    background-color: var(--head-color);
    padding-top: 3px;
    margin-right: -35px;
}

#search-btn:active{
    font-size: 25px;
    width: 32px;
    height: 32px;
}   

/*Third Flex Container */
.btn-container{
    width: 25%;
}

#header-shop-cart{
    grid-area: shop;
    justify-self: center;
    align-self: center;
}

#login{
    grid-area: login;
    justify-self: left;
    align-self: center;
}

.iconbtn{
    width: 60px;
    height: 60px;
    color: var(--highlight-color);
    text-decoration: none;
    position: relative;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}

.iconbtn:hover{
    color: var(--bg-color);
}

.iconbtn:active{
    color: var(--bg-color);
    font-size: 42px;
}

/*
    ======================================================
    HOME
    ======================================================
*/

#main{
    margin-top: 80px;
}

#home{
    background-image: url("../images/home/interior-3575815_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    padding: 30px;
}


.home-titles{
    display: flex;
    margin: 150px auto 30px auto; 
    align-items: center;
    color: var(--highlight-color)
}

#home h1{
    font-family: 'Oswald', sans-serif;
    font-size: 7rem;
    line-height: 1;
    width: 50%;
    text-align: center;
}

.discount-container{
    width: 50%;
}

#home h2{
    font-size: 3rem;
    line-height: 1;
    width: 100%;
    text-align: center;
}

.discount-form{
    width: max-content;
    margin: 20px auto 0 auto;
}

.btn-shop{
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--head-color);
    font-size: 16px;
    text-transform: uppercase;
}


/*
    ======================================================
    Inspiration
    ======================================================
*/
.section-title{
    text-align: center;
    margin: 50px 0;
    font-size: 3rem;
    color: var(--bg-color);
}

.col-8{
    width: 66%;
    margin: 0 auto;
}

.glide img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.glide__arrows .glide__arrow{
    color: var(--bg-color);
    border: none;
    font-size: 4rem;
    box-shadow: none;
}

.glide__arrows .glide__arrow.glide__arrow--left{
    left: -100px;
}

.glide__arrows .glide__arrow.glide__arrow--right{
    right: -100px;
}

.glide__slide{
    transform: scale(0.8);
    transition: all ease  0.5s;
}

.glide__slide.glide__slide--active{
    transform: scale(1);
}


#video{
    display: block;
    width: 100%;
    margin: 50px auto 0 auto;
}



/*
    ======================================================
    Clearance Deals
    ======================================================
*/

#clearance-deals-content{
    display: flex;
    padding: 30px 0;
}

#clearance-deals-content img{
    width: 20%;
    padding: 0 1.6%;
}