/*
 	========================================
	 CSS RESET
	 	http://meyerweb.com/eric/tools/css/reset/ 
  		 v2.0 | 20110126
   		License: none (public domain)
	========================================
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  
    ======================================================
    Colors
    ======================================================
*/
:root{
    --head-color: #ffffff; 
    --highlight-color: #73001A;
    --font-color: #000000;       
    --box-color: #272726;
    --bg-color: #7D9072;
}


/*
    ======================================================
    Global Style
    ======================================================
*/

/*Border box fit*/
html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: VAR(--head-color);
    color: var(--font-color);
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    line-height: 1.5;
}


/*
    ======================================================
    HEADER
    ======================================================
*/

#header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    top:0;
    left: 0;
    background-color: var(--head-color);
    color: var(--highlight-color);
    padding: 20px 0 10px 0;
    z-index: 999;
}

/*First Flex Container */
.logo-container{
    width: 25%;
}

#header-img{
    display: block;
    width: 300px;
}


/*Second Flex Container */
.search-nav-container{
    width: 50%;
}

.search-nav-container label, #toggle{
    display: none;
}


#nav-bar ul{
    display: flex;
    width: 100%;
    justify-content: center;
}

#nav-bar li{
    margin-left: 30px;
}

#nav-bar a{
    text-decoration: none;
    color: var(--highlight-color);
}

#nav-bar a:hover{
    color: var(--bg-color);
}

#search-form{
    width:max-content;
    margin: 0 auto
}

.input-box{
    height: 30px;
    width: 250px;
    border: 1px solid var(--highlight-color);
    color: var(--highlight-color);  
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 40px;
}

#search-btn{
    width: 25px;
    height: 25px;
    font-size: 22px;
    color: var(--highlight-color);
    background-color: var(--head-color);
    padding-top: 3px;
    margin-right: -35px;
}

#search-btn:active{
    font-size: 25px;
    width: 32px;
    height: 32px;
}   

/*Third Flex Container */
.btn-container{
    width: 25%;
}

#header-shop-cart{
    grid-area: shop;
    justify-self: center;
    align-self: center;
}

#login{
    grid-area: login;
    justify-self: left;
    align-self: center;
}

.iconbtn{
    width: 60px;
    height: 60px;
    color: var(--highlight-color);
    text-decoration: none;
    position: relative;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}

.iconbtn:hover{
    color: var(--bg-color);
}

.iconbtn:active{
    color: var(--bg-color);
    font-size: 42px;
}

/*
    ======================================================
    HOME
    ======================================================
*/

#main{
    margin-top: 80px;
}

#home{
    background-image: url("../images/home/interior-3575815_1920.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height:800px;
    padding: 30px;
}


.home-titles{
    display: flex;
    margin: 150px auto 30px auto; 
    align-items: center;
    color: var(--highlight-color)
}

#home h1{
    font-family: 'Oswald', sans-serif;
    font-size: 7rem;
    line-height: 1;
    width: 50%;
    text-align: center;
}

.discount-container{
    width: 50%;
}

#home h2{
    font-size: 3rem;
    line-height: 1;
    width: 100%;
    text-align: center;
}

.discount-form{
    width: max-content;
    margin: 20px auto 0 auto;
}

.btn-shop{
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--head-color);
    font-size: 16px;
    text-transform: uppercase;
}


/*
    ======================================================
    Inspiration
    ======================================================
*/
.section-title{
    text-align: center;
    margin: 50px 0;
    font-size: 3rem;
    color: var(--bg-color);
}

.col-8{
    width: 66%;
    margin: 0 auto;
}

.glide img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.glide__arrows .glide__arrow{
    color: var(--bg-color);
    border: none;
    font-size: 4rem;
    box-shadow: none;
}

.glide__arrows .glide__arrow.glide__arrow--left{
    left: -100px;
}

.glide__arrows .glide__arrow.glide__arrow--right{
    right: -100px;
}

.glide__slide{
    transform: scale(0.8);
    transition: all ease  0.5s;
}

.glide__slide.glide__slide--active{
    transform: scale(1);
}


#video{
    display: block;
    width: 100%;
    margin: 50px auto 0 auto;
}


/*
    ======================================================
    Clearance Deals
    ======================================================
*/

.clearance-deals-content{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.product{
    width:33%;
    text-align: center;
}

.product img{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    object-fit: fill;
    padding: 0 3%;
}

.product .product-description, .product .product-price{
    text-align: center;
    font-size: 1.1rem;
}

#clearance-deals > a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    color: var(--highlight-color);
    margin: 30px 0;
}

#clearance-deals > a > span{
    font-size: 3rem;
}

/*
    ======================================================
    Footer
    ======================================================
*/

#footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    justify-content: center;
    align-items: center;
    bottom:0;
    background-color: var(--head-color);
    color: var(--highlight-color);
    padding: 20px 0 20px 0;
    margin: 0 auto;
}

/* First flex container */
.logo-container{
    width: 25%;
}


.logo-container img{
    display: block;
    width: 200px;
    margin: 0 auto;
}

.container{
    width: 25%;
    font-size: 1.1rem;
    padding-left: 20px;
}

.container i{
    width:20px;
    padding-right: 30px;
}

 .bigger-container{
     width: 35%;
 }
 
 .small-container{
     width: 20%;
 }

 footer .input-box{
     padding-left: 5px;
 }


 #submit{
    background-color: var(--highlight-color);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--head-color);
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-left: -30px;
    width: 50px;
    height: 30px;
}

.notes{
    text-align: center;
    font-size: 0.9rem;
    color: var(--highlight-color);
    line-height: 1.2rem;
    margin: 30px 0;
}

.notes a{
    color: var(--bg-color);
    text-decoration: none;
}


/*
    ======================================================
    Media Queries
    ======================================================
*/
@media screen and (max-width:1400px){
    .product img{
        height: 300px;
    }
}
/* TABLET */
@media screen and (max-width:1200px){

    /* Header */
    #header-img{
        width: 200px;
    }
    
    .search-nav-container{
        width: 70%;
    }

    #nav-bar li{
        margin-left: 15px;
    }

    #nav-bar a{
        font-size: 1rem;
    }


    .btn-container{
        width: 20%;
    }

    .iconbtn{
        font-size: 30px
    }
    

    /* Home */
    #home h1{
        font-size: 4rem;
        width: 50%;
        margin-bottom: 20px;
    }
    
    
    #home h2{
        font-size: 2rem;
    }


    /* Inspiration*/
    .section-title{
        font-size: 1.7rem;
        margin: 25px 0;
    }

    .col-8{
        width: 90%;
        margin: 0 auto;
    }

    .glide__arrows{
        position: absolute;
        display: block;
        bottom: -10px;
        width: 100%; 
    }


    .glide__arrows .glide__arrow{
        font-size: 2rem;
        display: block;
        width: 100%; 
        margin: 0 auto;
    }

    .glide__arrows .glide__arrow.glide__arrow--left{
        left: -20px;
        
    }
    
    .glide__arrows .glide__arrow.glide__arrow--right{
        right: -20px;
    }


    #video{
        width: 90%;  
        height: 400px;      
    }

    /* Clearance - Deals*/
    .clearance-deals-content{
        width: 90%;
    }

    .product{
        width:100%;
        text-align: center;
    }

    .product img{
        width: 90%;
        height:200px;
        margin: 0 auto;
        object-fit: fill;
        padding: 0 3%;
    }

     /* Footer*/
     #footer{
        display: block;
        width: 100%;
        font-size: 0.5rem;
    }

    .container{
        width: 100%;
        font-size: 0.9rem;
        margin-top: 20px;
        padding-left: 10px;
        text-align: center;
    }

    .container ul{
        display: flex;
        justify-content: center;

    }

    .container li{
       margin-left: 20px;

    }

    .container i{
        width:10px;
        padding-right: 20px;
    }

    .container.bigger-container ul{
        display: block;
        text-align: CENTER;
    }

    #form{
        text-align: center;
    }

}




/* MOBILE */
 @media screen and (max-width:800px){

    /* Header*/
    #header{
        display: block;
        margin-bottom: 20px;
        height: 120px;
    }

    #header::after{
        content: "";
        display: table;
        clear: both;
    }

    .logo-container {
        width: 50%;
        margin: 0 0 20px 20px;
    }

    .logo-container img {
        margin: 0 ;
    }


    .search-nav-container{
        float: left;
        width: 100%;
    }
    .search-nav-container label{
        display: inline-block;
        cursor: pointer;
        font-size: 1.7rem;
        position: relative;
        left: 20px;
    }

    #search-form{
        position: absolute;
        top: 70px;
        left: 70px;
        z-index: 1000;
    }

    .input-box{
        height: 30px;
        width: 150px;

    }

    #search-btn{
        font-size: 1.2rem;
    }
    
    .nav{
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0px;

    }

    #nav-bar{
        width: 100%;
        display: none;       
    }

    #nav-bar ul{
        display: block;
        position: absolute;
        width: 100%;
        top: 35px;
        left: 0px;
        text-align: left;
        z-index: 1000;
        opacity: 1;
        background-color: var(--head-color);
    }

    #nav-bar a{
        display: block;
        border-bottom: 1px solid var(--bg-color);
    }

    #toggle:checked +#nav-bar{
        display: block;
    }

    .btn-container{
        width: 35%;
        position: absolute;
        top: 72px;
        right: -20px;
        text-align: right;
        padding-right: 20px;
    }

    .iconbtn{
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
    }

    #main{
        content:"";
        clear: both;
    }

    /* Home*/
    .home-titles{
        display: block;
        margin: 20px auto 30px auto; 
    }
    
    #home h1{
        font-size: 2rem;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .discount-container{
        width: 100%;
    }
    
    #home h2{
        font-size: 1.5rem;
    }

    .btn-shop{
        width: 100px;
        height: 30px;
        font-size: 12px;
    }

    
    /* Inspiration*/
    .col-8{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    .glide img{
        width: 90%;
        height: 400px;
        object-fit: cover;
    }
    
    #video{
        width: 90%;  
        height: 200px;      
    }
    


    /* Clearance - Deals*/
    .clearance-deals-content{
        display: block;
    }

    .product{
        width:100%;
        text-align: center;
    }

    .product img{
        width: 90%;
        height: auto;
        margin: 20px auto 0 auto;
        object-fit: fill;
        padding: 0 3%;
    }

    .product .product-description, .product .product-price{
        font-size: 0.8rem;
    }

    #clearance-deals > a{
        font-size: 1.2rem;
    }
    
    #clearance-deals > a > span{
        font-size: 1.8rem;
        margin: 20px 0;
    }

    /*Footer */
    .notes{
        font-size: 0.7rem;
    }

 }